@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	background: #c6ffdd;
	background: linear-gradient( to right, #f7797d, #fbd786, #c6ffdd );
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

@import './quiz.scss';
@import './submit.scss';
@import './animation.scss';


